[Desktop Entry]
Categories=Game
Comment[en_US]=
Comment=
Exec=wine /mnt/LDATA/Games/Windows/Cuphead/Cuphead.exe
GenericName[en_US]=Cuphead
GenericName=Cuphead
Icon=/home/viera/.icons/cuphead.webp
MimeType=
Name[en_US]=Cuphead
Name=Cuphead
Path=
StartupNotify=true
StartupWMClass=
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
