[Desktop Entry]
Categories=Game
Comment[en_US]=
Comment=
Exec=sh /mnt/LDATA/Games/2013-KindomRush-Frontiers/run.sh
GenericName[en_US]=Kindom Rush Frontier
GenericName=Kindom Rush Frontier
Icon=/home/viera/.icons/krf.jpeg
MimeType=
Name[en_US]=Kindom Rush Frontier
Name=Kindom Rush Frontier
Path=
StartupNotify=true
StartupWMClass=
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
