[Desktop Entry]
Categories=Game
Comment[en_US]=
Comment=
Exec=sh /mnt/LDATA/Games/PokeMMO_Client/PokeMMO.sh
GenericName[en_US]=PokeMMO
GenericName=PokeMMO
Icon=/mnt/LDATA/Games/PokeMMO_Client/data/icons/128x128.png
MimeType=
Name[en_US]=PokeMMO
Name=PokeMMO
Path=/mnt/LDATA/Games/PokeMMO_Client
StartupNotify=true
StartupWMClass=
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
