[Desktop Entry]
Categories=Game
Comment[en_US]=
Comment=
Exec=wine start /d /mnt/LDATA/Games/Windows/Blur/ Blur.exe
GenericName[en_US]=Blur  
GenericName=Blur
Icon=/home/viera/.icons/3xhumed-Mega-Games-Pack-39-Blur-1.ico
MimeType=
Name[en_US]=Blur
Name=Blur
Path=
StartupNotify=true
StartupWMClass=
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
