[Desktop Entry]
Categories=
Comment[en_US]=
Comment=
Exec=wine /mnt/9b05823c-e620-4809-8588-6604613ea4af/Games/Windows/KingdomRush/KingdomRush.exe
GenericName[en_US]=Kindom Rush
GenericName=Kindom Rush
Icon=/home/viera/.icons/KindomRush.png
MimeType=
Name[en_US]=Kindom Rush
Name=Kindom Rush
Path=
StartupNotify=true
StartupWMClass=
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
