[Desktop Entry]
Categories=Utility;
Comment[en_US]=
Comment=
Exec=/mnt/LDATA/Apps/Zotero_linux-x86_64/zotero
GenericName[en_US]=Zotero
GenericName=Zotero
Icon=/mnt/LDATA/Apps/Zotero_linux-x86_64/chrome/icons/default/main-window.ico
MimeType=
Name[en_US]=Zotero
Name=Zotero
Path=
StartupNotify=true
StartupWMClass=
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
